name: Docker build
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-dev[0-9]+'
  pull_request:
    branches:
      - '*'
jobs:
  build-and-push:
    name: Build and push image
    runs-on: ubuntu-latest
    env:
      IMG_BASE: ${{ github.repository }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Set up Docker Buildx
        id: buildx
        uses: step-security/setup-buildx-action@8c8aef2d414c0b66518fee2b7084e0986f82d7ac # v3.11.1

      - name: Login to DockerHub
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2.2.0
        if: ${{ github.ref_type == 'tag' }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to Quay.io
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2.2.0
        if: ${{ github.ref_type == 'tag' }}
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@67fbcbb121271f7775d2e7715933280b06314838 # v1.7.0
        if: ${{ github.ref_type == 'tag' }}
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        id: login-ecr
        if: ${{ github.ref_type == 'tag' }}
        uses: aws-actions/amazon-ecr-login@2fc7aceee09e9e4a7105c0d060c656fad0b4f63d # v1.7.0

      - name: Set image tag env
        # GITHUB_HEAD_REF will be set in case of PR and contains the branch name. Replace / with - in branch name
        # GITHUB_REF_NAME contains the git tag.
        run: |
          if [[ $GITHUB_HEAD_REF != '' ]]; then
            NEW_GITHUB_HEAD_REF="${GITHUB_HEAD_REF//\//-}" 
            echo "TAG=$NEW_GITHUB_HEAD_REF" >> "$GITHUB_ENV"
          else
            echo "TAG=$GITHUB_REF_NAME" >> "$GITHUB_ENV"
          fi

      - name: Build and push image
        env:
          REF_TYPE: ${{ github.ref_type }}
          AWS_ECR: "568976754000.dkr.ecr.ap-south-1.amazonaws.com"
        run: ./scripts/build.sh

      - name: Run Snyk image security scan
        uses: snyk/actions/docker@cdb760004ba9ea4d525f2e043745dfe85bb9077e
        continue-on-error: true
        id: docker-image-scan
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: ${{ env.IMG_BASE }}:${{ env.TAG }}
          args: --file=Dockerfile --severity-threshold=high --fail-on=all # fail on vulnerabilities with fix available

# https://github.blog/changelog/2024-05-06-code-scanning-will-stop-combining-runs-from-a-single-upload/
#      - name: Upload result to GitHub Code Scanning
#        uses: github/codeql-action/upload-sarif@v3
#        with:
#          sarif_file: snyk.sarif

      - name: Check docker image scan status
        if: ${{ steps.docker-image-scan.outcome == 'failure' }}
        run: exit 1